  /* Custom styles for the navbar */
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .navbar {
    background-color: #4a5568; /* Set your desired background color */
  }

  .navbar a {
    color: white;
  }

  .navbar a:hover {
    text-decoration: underline;
  }
  .logo1{
    filter: invert (100%)
  }
  